<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Электронный журнал</title>-->
<!--    <link href="/css/bootstrap.min.css" rel="stylesheet">-->
<!--</head>-->
<!--<body>-->
<!--<div class="container mt-4">-->
<!--    <h2>-->
<!--        Журнал класса:-->
<!--        &lt;!&ndash;/*@thymesVar id="classId" type="school.model.Classroom"*/&ndash;&gt;-->
<!--        <span th:text="${classId}"></span>-->
<!--    </h2>-->
<!--    <div class="alert alert-info">-->
<!--        &lt;!&ndash;/*@thymesVar id="classId" type="school.model.Classroom"*/&ndash;&gt;-->
<!--        <a th:href="@{/journal/gsheets/{classId}(classId=${classId})}" class="btn btn-success">-->
<!--            <i class="bi bi-google">-->
<!--                Открыть в Google Таблицах-->
<!--            </i>-->
<!--        </a>-->
<!--    </div>-->
<!--    <form method="post" th:action="@{/journal/save}">-->
<!--        <table class="table table-border">-->

<!--        </table>-->
<!--        <button type="submit" class="btn btn-primary">-->
<!--            Сохранить оценки-->
<!--        </button>-->
<!--    </form>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->